iframe {
  height: 100vh;
}
#border-polos {
  margin-top: 50px;
  padding-top: 5px;
}
.borders {
  border: 2px solid #000;
}
.margin-top {
  margin-top: 40vh;
  text-align: center;
}
#btnblue {
  padding: 10px 100px;
  border-radius: 0px !important;
}
#border-courses {
  margin-top: 20px;
  padding: 10px;
}
.position-rigth {
  float: right;
}
#row {
  margin-left: 0px;
  margin-top: 5vh;
}

.alert.alert-icon-left[class*="bg-"] {
  border-left-color: rgba(0, 0, 0, 0.15);
}

.alert[class*="bg-"] {
  color: #ffffff;
}
.alert.alert-icon-left {
  border-left-width: 4rem;
}

.alert {
  position: relative;
}

.bg-warning {
  background-color: #ffa87d !important;
}
.alert {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
/*icon*/
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.svg-inline--fa.fa-lg {
  vertical-align: -0.225em;
  position: relative;
  left: 18px;
  top: 49px;
  z-index: 1;
  color: #ff4136;
  font-size: 26px;
}

.pulseOpacity {
  -webkit-animation-name: pulseOpacity;
  animation-name: pulseOpacity;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes pulseOpacity {
  0% {
    opacity: 0.99;
  }
  50% {
    opacity: 0.66;
  }
  100% {
    opacity: 0.99;
  }
}

a.link {
  color: #bf4631 !important;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

/*page polo-course*/
.breadcrumb {
  font-size: 0.8rem;
  font-family: "Montserrat", Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}
.card {
  background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.card .body {
  font-size: 14px;
  color: #555;
  padding: 20px;
}
.font-bold {
  font-weight: bold;
}

.m-b--35 {
  margin-bottom: -35px;
}
.dashboard-stat-list {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
}

.bg-teal {
  background-color: #009688 !important;
  color: #fff;
}
.dashboard-stat-list li {
  padding: 16px 0 0 0;
}
.pull-right {
  float: right !important;
}
.border-polo-course {
  border: 1px solid #ccc;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
}
#line {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
  margin-top: 50px;
}
.seta {
  min-height: 50px;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}
#float-right {
  float: right;
}
#cancelar {
  background-color: #ff4136 !important;
  color: #fff;
}
